// CHECK could also go to custom tailwind components
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Backgrounds & Gradients */
.bg-gradient {
    background: linear-gradient(to top left, #182538 14%, #253C5E 100%);
}
.bg-gradient-reverse {
    background: linear-gradient(to bottom left, #182538 14%, #253C5E 100%);
}
.bg-gradient-bottom {
    background: linear-gradient(to bottom, #F5B9A3 0%, #FFDFD4 100%);
}

/* List Elements */
li::before {
    content: "»";
    color: rgba(255, 69, 76, 1);
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}