// CHECK could also go to custom tailwind components

/* Backgrounds & Gradients */
.bg-gradient {
    background: linear-gradient(to top left, #182538 14%, #253C5E 100%);
}
.bg-gradient-reverse {
    background: linear-gradient(to bottom left, #182538 14%, #253C5E 100%);
}
.bg-gradient-bottom {
    background: linear-gradient(to bottom, #F5B9A3 0%, #FFDFD4 100%);
}



/* Corners & Buttons */



/* Transitions */