/* Color styles */
// CHECK: legacy code, was moved to tailwind config
$background: rgba(24, 37, 56, 1);
$background-accent: rgba(54, 74, 104, 1);
$background-bright: rgba(247, 250, 254, 1);
$accent: rgba(255, 69, 76, 1);
$accent-subtle: rgba(255, 128, 132, 0.6);
$accent2: rgba(77, 100, 210, 1);
$text-bright: rgba(255, 255, 255, 1);
$text-subtle: rgba(114, 128, 150, 0.6);

